{% extends "auctions/layout.html" %}

{% block body %}
<div class="div-box">

    <div class="flex flex-row auction-all-open"> 
    
       
        <img class="auction-image-bigger" src="{{auction.image_url}}"> 
        

        <div class="auction-labels">
            {{msg}}
            <h2>{{auction.name}}</h2>
            <p>{{auction.description}}</p>
            {% if auction.price > auction.init_bid %}
                <h4>Current bid: ${{auction.price}}</h4>
            {% else %}
                <h4> Initial bid: ${{auction.init_bid}}</h4>
                <p>Be the first to set a bid</p>
            {% endif %}

            <div class="form-group" style="display:flex; flex-direction:column; ">
                <form action="" method="post">
                    {% csrf_token %}

            {% if your_bid == True %}
                    <div>
                        <div class="btn btn-success btn-placebid" data-toggle="modal" data-target=""> Your bid is the last! </div>
                    </div>
            {% else %}
                {% if user_auction == False %}
                    
                            <input class="form-control" type="number" name="bid" placeholder="Bid" required min="1">
                            
                            
                            <div class="">
                                {% if user.is_authenticated %}
                                    <input class="btn btn-success btn-placebid" type="submit" value="Place Bid">  
                                {% else %}
                                    <div class="btn btn-success btn-placebid" data-toggle="modal" data-target="#AuthenticateModalCenter"> Place Bid </div>
                                {% endif %}
                            </div> 
                       
                {% else %}
                <div>
                    <div class="btn btn-danger">Close auction</div>
                </div>

                {% endif %}
            {% endif %}
                </form>
            </div>

        </div>
    </div>
    <div class="border-top my-3"></div> 
    <div class="flex flex-row" style="justify-content: right; padding-top: 5px;">
        <h6>Posted in: {{auction.date_time}}</h6>
        <h6>By: {{auction.user}}</h6>
       
    </div>
</div>

{% endblock %}