{% extends "auctions/layout.html" %}

{% block body %}

{% if auction.id != None %}
    <style>
       
    </style>
    {% if user.is_authenticated %}
        <div>Add Watchlist</div>
        <div>{{w}}</div>

        {% if msg %}
            <div class="alert {{alert_class}}">{{ msg }}</div>
            
        {% endif %}

    {% else %}
        <!-- Modal -->
        <div class="modal fade" id="AuthenticateModalCenter" tabindex="-1" role="dialog" aria-labelledby="AuthenticateModalCenterTitle" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                <h5 class="modal-title" id="AuthenticateModalLongTitle">Opss...</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                </div>
                <div class="modal-body">
                    You need to authenticate first!
                </div>
                <div class="modal-footer" >
                    <div class="btn btn-secondary"><a href="{% url 'login' %}" style="color: white; text-decoration: none;">Login</a></div>
                    <div class="btn btn-primary"><a href="{% url 'register' %}" style="color: white; text-decoration: none;">Register</a></div>
                </div>
            </div>
            </div>
        </div>
    {% endif %}
    

    <div class="div-box">

        <div class="flex flex-row auction-all-open"> 
        
           
            <img class="auction-image-bigger" src="{{auction.image_url}}"> 
            

            <div class="auction-labels">
                <h2>{{auction.name}}</h2>
                <p>{{auction.description}}</p>
                {% if auction.price > auction.init_bid %}
                    <h4>Current bid: ${{auction.price}}</h4>
                {% else %}
                    <h4> Initial bid: ${{auction.init_bid}}</h4>
                    <p>Be the first to set a bid</p>
                {% endif %}

                <div class="form-group" style="display:flex; flex-direction:column; ">

                {% if your_bid == True %}
                        <div>
                            <div class="btn btn-success btn-placebid" data-toggle="modal" data-target=""> Your bid is the last! </div>
                        </div>
                {% else %}
                    {% if user_auction == False %}
                    <form action="" method="post">
                        {% csrf_token %}
                                <input class="form-control" type="number" name="bid" placeholder="Bid" required min="1">
                                
                                
                                <div class="">
                                    {% if user.is_authenticated %}
                                        <input class="btn btn-success btn-placebid" type="submit" value="Place Bid">  
                                    {% else %}
                                        <div class="btn btn-success btn-placebid" data-toggle="modal" data-target="#AuthenticateModalCenter"> Place Bid </div>
                                    {% endif %}
                                </div> 
                           
                    {% else %}
                    <form action="closed/{{auction.id}}" method="post">
                        {% csrf_token %}
                    <div>
                        <input type="submit" class="btn btn-danger btn-closebid" data-toggle="modal" data-target="" value="Close auction">
                    </div>

                    {% endif %}
                {% endif %}
                    </form>
                </div>

            </div>
        </div>
        <div class="border-top my-3"></div> 
        <div class="flex flex-row" style="justify-content: right; padding-top: 5px;">
            <h6>Posted in: {{auction.date_time}}</h6>
            <h6>By: {{auction.user}}</h6>
           
        </div>
    </div>
    
    <div class="div-box flex flex-column">
        <h4>Bids</h4>
        <div class=" flex flex-column-reverse">
            {% for bid in bids %}
                <div class="">
                    <div>$ {{bid.value}}</div>
                    <div>{{bid.user}}</div>
                    <div class="border-top my-3"></div>

                </div>
            {% endfor %}
        </div>
        
    </div>


{% else %}
    <h4>{{msg}}</h4>
{% endif %}
{% endblock %}