{% extends "auctions/layout.html" %}

{% block body %}

{% if auction.id != None %}

    {% if msg_comment %}
        <div class="alert {{alert_class}}">{{ msg_comment }}</div>
    {% endif %}

    {% if user.is_authenticated == False %}
        <!-- Modal -->
        <div class="modal fade" id="AuthenticateModalCenter" tabindex="-1" role="dialog" aria-labelledby="AuthenticateModalCenterTitle" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                <h5 class="modal-title" id="AuthenticateModalLongTitle">Opss...</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                </div>
                <div class="modal-body">
                    You need to authenticate first!
                </div>

                <div class="modal-footer" >
                    <div class="btn btn-secondary"><a href="{% url 'login' %}" style="color: white; text-decoration: none;">Login</a></div>
                    <div class="btn btn-primary"><a href="{% url 'register' %}" style="color: white; text-decoration: none;">Register</a></div>
                </div>
            </div>
            </div>
        </div>
    {% endif %}


    {% if request.user == auction.user %}
        <form action="closed/{{auction.id}}" method="post">
            {% csrf_token %}
        <!-- Modal -->
        <div class="modal fade" id="CloseModalCenter" tabindex="-1" role="dialog" aria-labelledby="CloseModalCenterTitle" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                <h5 class="modal-title" id="CloseteModalLongTitle">Are you sure you want to close the auction?</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                </div>
                <div class="modal-body">
                    {% if auction.price >= auction.init_bid %}
                        <p style="padding-bottom: 0px;">The highest bid will be declared the winner and the auction will be closed!</p>
                        <div>
                            <h6>Last bid: $ {{auction.price}}</h6> 
                            <h6>By: {{bids.last.user}}</h6> 
                        </div>
                    {% else %}
                        <p>Your auction will be deleted!</p>
                    {% endif %}
                </div>
                <div class="modal-footer" >
                    <button type="submit" class="btn-danger" style="border: none; border-radius: 5px; padding: 8px; color: white; text-decoration: none;">Yes, close action</button>
                    <div class="btn-secondary" data-dismiss="modal" style="border: none; border-radius: 5px; padding: 8px; color: white; text-decoration: none;">Cancel</div>
                </div>
            </div>
            </div>
        </div>
        </form>
    {% endif %}

    <div class="div-box">
        <div class="flex flex-row" style="justify-content: right;">

            {% if user.is_authenticated %}
                {% if request.user != auction.user %}
                    <form action="" method="post">
                        {% csrf_token %}
                        <input hidden type="text" value="not" name="watchlist">
                        {% if in_watchlist != True %}
                            <button class="btn" style="color: green; border-color: green" type="submit">Add to watchlist</button>
                        {% else %}
                            <button class="btn" style="color: red; border-color: red" type="submit">Remove to watchlist</button>
                        {% endif %}
                    </form>
                {% endif %}
            {% endif %}
            
        </div>
        <div class="flex flex-row auction-all-open"> 
        
            <img class="auction-image-bigger" src="{{auction.image_url}}"> 
            

            <div class="auction-labels div-box">
                <div class="flex flex-column">
                    <h3>{{auction.name}}</h3>
                    <p>{{auction.description}}</p>
                </div>
                <div class=" div-box flex flex-row">
                    
                    {% if auction.price >= auction.init_bid %}
                        <h5>Current bid: ${{auction.price}}</h5>
                    {% else %}
                        <h5> Initial bid: ${{auction.init_bid}}</h5>
                    {% endif %}

                    <div class="form-group flex flex-column form-div-bid">

                        {% if your_bid == True %}
                                <div>
                                    <div class="btn btn-success btn-placebid" data-toggle="modal" data-target=""> Your bid is the last! </div>
                                </div>
                        {% else %}
                            {% if user_auction == False %}
                                <form action="" method="post">
                                    {% csrf_token %}
                                         <div class="">
                                            <input class="form-control" type="number" name="bid" placeholder="Value" required min="1">
                                            
                                            
                                            <div class="">
                                                {% if user.is_authenticated %}
                                                    <input class="btn btn-success btn-placebid" type="submit" value="Place Bid">  
                                                {% else %}
                                                    <div class="btn btn-success btn-placebid" data-toggle="modal" data-target="#AuthenticateModalCenter"> Place Bid </div>
                                                {% endif %}
                                            </div> 
                                        </div>
                                
                            {% else %}
                            
    
                                <div>
                                    <div class="btn btn-danger btn-closebid" data-toggle="modal" data-target="#CloseModalCenter">Close auction</div>
                                </div>
    
                            {% endif %}
                        {% endif %}
                            </form>
                    </div>
                    
                </div>
                {% if msg %}
                     <div class="alert {{alert_class}}">{{ msg }}</div>
                {% endif %}
                {% if msg_last %}
                    <div class="alert {{alert_class}}">{{ msg_last }}</div>
                {% endif %}
            </div>
        </div>
        <div class="border-top my-3"></div> 
        <div class="flex flex-row" style="justify-content: right; padding-top: 5px;">
            <h6>Posted in: {{auction.date_time}}</h6>
            <h6>By: {{auction.user}}</h6>
           
        </div>
    </div>
    
    <div class="div-box">
        <h4 style="padding-bottom: 20px;">Bids</h4>
        <div class="" style="max-height: 250px; overflow:auto">
            <div class="flex flex-column-reverse">
                {% for bid in bids %}
                    <div class="">
                        <div>$ {{bid.value}}</div>
                        <div>{{bid.user}}</div>
                        <div class="border-top my-3"></div>

                    </div>
                {% empty %}
                    <div> No bids yet</div>
                {% endfor %}
            </div> 
        </div>
    </div>

    <div class="div-box">
        
        <h4 >Comments</h4>
        <div class="border-top  border-bottom " style="max-height: 400px; overflow:auto; padding-top: 20px;">

            {% if user.is_authenticated == False %}

                 <div class="flex flex-column">
                    {% for comment in comments %}
                        <div style="margin-bottom: 20px;">
                            <span> <strong>{{comment.user}}</strong></span>
                            <p>{{comment.text}}</p>  
                        </div>
                    {% empty %}
                    <div style="padding-bottom: 20px;">Be the first to comment in this auction!</div>
                    {% endfor %}
                </div>

                <div class="" data-toggle="modal" data-target="#AuthenticateModalCenter"><a>Authenticate to make a comment!</a></div>

            {% else %} 

                {% if request.user == auction.user %}

                    <div class="flex flex-column">
                        {% for comment in comments %}
                        <div style="margin-bottom: 20px;">
                            <span> <strong>{{comment.user}}</strong></span>
                            <p>{{comment.text}}</p>  
                        </div>
                        {% empty %}
                        <div style="padding-bottom: 20px;">No comments yet</div>
                        {% endfor %}
                    </div>

                {% else %}
                    <div class="flex flex-column">
                        {% for comment in comments %}
                            <div style="margin-bottom: 20px;">
                                <span> <strong>{{comment.user}}</strong></span>
                                <p>{{comment.text}}</p>  
                            </div>
                        {% empty %}
                        <div style="padding-bottom: 20px;">Be the first to comment in this auction!</div>
                        {% endfor %}
                    </div>
                   
        </div>
        
            <form class="" action="" method="post">
                {% csrf_token %}
                <div class="form-group">
                        <input class="form-control form-control-lg" type="text" name="text_comment" placeholder="Escreva aqui">
                </div>
                <div class="form-group">
                    <input class="form-control" type="submit" value="Send">
                </div>
            </form>

                {% endif %}
               
                
            {% endif %}       
    </div>

{% else %}
    <h4>{{msg}}</h4>
{% endif %}
{% endblock %}