body {
    margin: 0;
    background-image: url("../images/mesh-699.png");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;   
    padding-top: 1.5rem;
}

p{
    font-size: 19px;
}

h5{
    margin-bottom: 0px;
}

.flex{
    display: flex;
    flex-wrap: wrap;
}

.flex-column{
    flex-direction: column;
}

.flex-column-reverse{
    flex-direction: column-reverse;
}

/* From Listining Auctions */
.flex-row{
    flex-direction: row;
    align-items: center;
    
             
}

.flex-row-reverse{
    flex-direction: row-reverse;
    align-items: center;
             
}

.div-box{
    justify-content: space-between;
    margin: 1.5rem 0rem;
    padding: 1rem 2rem;

    background: rgba(185, 196, 207, 0.05);
    border-radius: 13px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(3px);
    -webkit-backdrop-filter: blur(3px);
    border: 1px solid rgba(237, 230, 255, 0.08);
}

.auction-all-open{
    justify-content: space-around;
    padding-bottom: 24px;
    
}

.auction-image{
    width: 200px;
    border-radius: 13px;
}

.auction-image-bigger{
    max-width: 22rem;
	height:auto;
    border-radius: 13px;
}

.auction-labels{
    width: 500px;
    max-width: 500px;
    padding-left: 20px;


}

.form-div-bid{
    max-width: 150px;
    text-align: center;
   
}

.form-div{
    max-width: 250px;
}

.button-bid{

}
    
.btn-placebid{
    margin-top: 20px;
}

.btn-closebid{
    margin-top: 20px;
}

.category-div{
    
    padding: 10px;
    margin: 0px 10px ;
    border-radius: 13px;
    border: none;
  
}

.radios input[type=radio] {
    display:none
}

.radios .radio {
    display: inline-block;
    cursor: pointer;
    padding: 10px;
    margin: 0px 7px;
    border-radius: 8px;
}

.radios input[type=radio]:checked + .radio {
    border: 1.8px solid black;
}